<div class="jumbotron">
  <h1 class="display-4">Welcome to Move 'n Groove!</h1>
  <h2>Where fitness is not a destination, it is a way of life.</h2>
  <hr class="my-4">
  <p>Ready to get in shape?</p>
  <%= link_to 'Sign Up',  new_user_session_path, class: "btn btn-primary btn-lg"  %>
</div>

<div class="card-deck">
  <div class="card" style="width: 18rem;">
    <%= image_tag(@recipes[4].image, style:'width:100%') %>
    <div class="card-body">
      <h5 class="card-title"><%= @recipes[4].title %></h5>
      <p class="card-text"><%= @recipes[4].content %></p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <%= image_tag(@blogs[3].image, style:'width:100%') %>
    <div class="card-body">
      <h5 class="card-title"><%= @blogs[3].title %></h5>
      <p class="card-text"><%= @blogs[3].content %></p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <%= image_tag(@blogs[6].image, style:'width:100%') %>
    <div class="card-body">
      <h5 class="card-title"><%= @blogs[6].title %></h5>
      <p class="card-text"><%= @blogs[6].content %></p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>