<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="form-group">
    <%= form.label :activity %>
     <%= select_tag(:name, raw('<option include_blank: true>Select an option</option><option value="Walking">Walking</option><option value="Cycling">Cycling</option><option value="Running">Running</option><option value="Swimming">Swimming</option><option value="Strength Training">Strength Training</option><option value="Rowing">Rowing</option><option value="Hiking">Hiking</option><option value="Mountain Biking">Mountain Biking</option><option value="Skating">Skating</option><option value="Snow-boarding">Snow-boarding</option>'), { class: "form-control" }) %>
    </div>
    <div class="form-group">
    <%= form.label :date %>
     <%= select_date Date.today, prefix: :date, class: "form-control" %>
    </div>
    <div class="form-group">
    <%= form.label :hour %>
    <%= form.text_field :hour %>
    <%= form.label :minute %>
    <%= form.text_field :minute %>
    <%= form.label :second %>
    <%= form.text_field :second %>
    </div>
            
    <%= form.submit %>
  </div>
<% end %>
