<footer>
   <div class="d-flex justify-content-around text-white py-5  bg-info">
      <div>
         <div class="text-center font-weight-bold">Links</div>
         <hr class="border-white">
         <div class="d-flex flex-column">
           <%= link_to 'Home', root_path, class: "text-white mb-2"  %>
            <%= link_to 'Sign In',  new_user_session_path, class: "text-white mb-2"  %>
            <%= link_to 'Sign Up', new_user_registration_path, class: "text-white" %>
         </div>
      </div>
      <div>
         <div class="font-weight-bold">Healthy Living</div>
         <hr class="border-white">
         <div class="d-flex flex-column">
           <%= link_to 'Recipes', home_recipes_path, class: "text-white mb-2"  %>
           <%= link_to 'Blogs', home_blogs_path, class: "text-white"  %>
         </div>
      </div>

      <div class="footer-social">
         <div class="text-center font-weight-bold">Follow Us</div>
         <hr class="border-white">
         <i class="fab fa-twitter-square mr-2"></i>
         <i class="fab fa-pinterest-square mr-2"></i>
         <i class="fab fa-facebook-square mr-2"></i>
         <i class="fab fa-instagram-square mr-2"></i>
      </div>
   </div>

   <div class="footer-copy text-center py-3 bg-transparent">&copy; 2020 Move 'n Grove. All rights reserve</div>
</footer>