<header class="d-flex justify-content-between">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <%= link_to "Move 'n Groove", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <%= link_to 'Home', root_path, class: "nav-link"  %>
    <%= link_to 'Recipes', home_recipes_path, class: "nav-link"  %>
    <%= link_to 'Blogs', home_blogs_path, class: "nav-link"  %>
    <% if current_user %>
         <%= link_to 'Activity', activities_path, class: "nav-link" %>
        <%= link_to 'Log Out',  destroy_user_session_path, :method => :delete, class: "nav-link"  %>
      <% else %>
        <%= link_to 'Log In',  new_user_session_path, class: "nav-link"  %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
     <% end %> 
    </div>
  </div>
</nav>
</header>