<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Move And Groove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'layouts/header' %>
    <div class="container">
      <p class="success"><%= notice %></p>
      <p class="warning"><%= alert %></p>
      <p class="danger"><%= flash[:error] %></p>

    <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
